<div class="gallery">
  <div class="thumbs">
    <img class="imagen" src="../../assets/imagenes/movil1.PNG" alt="Móvil: Huawei p30 pro" width="90px" height="90px"> 
    <img class="imagen" src="../../assets/imagenes/movil2.PNG" alt="Móvil: Samsung Galaxy s10+" width="90px" height="90px">
    <img class="imagen" src="../../assets/imagenes/movil3.PNG" alt="Móvil: LG G7" width="90px" height="90px">
    <img class="imagen" src="../../assets/imagenes/movil4.PNG" alt="Móvil: Iphone xs pro" width="90px" height="90px">
    <img class="imagen" src="../../assets/imagenes/movil5.PNG" alt="Móvil: Xiaomi mi8" width="90px" height="90px">
  </div>
  <div class="viewport">

  </div>
</div>