.thumbs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.imagen{
    margin-right: 10px;
}

.imagen:hover{
    cursor: pointer;
}

.viewport{
    width: "300";
    height: "300";
}

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 400px)  {
    .thumbs img{
        width: 34px;
        height: 40px;
    }
    .viewport img{
        width: 150px;
        height: 200px;
    }
}