.wrapp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.video{
    margin-top: 20px;
}

@media (max-width: 400px)  {
  .wrapp iframe{
    height: 50%;
    width: 80%;
  }
   .wrapp form{
     margin-left: 15px;
   }


}