<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
    <div id="cabeceraLogo">
      <div id="logo">
          <img src="../assets/imagenes/Logo.PNG" alt="Logo" width="90px" height="90px">
      </div>
        
    </div>
    <div id="cabeceraRadio">
        <app-radio></app-radio>
    </div>
    <div id="cuerpoVideos">
        <app-video></app-video>
    </div>
    <div id="cuerpoImagenes">
        <app-imagen></app-imagen>
    </div>
    <div id="cuerpoInformacion">
        <app-informacion></app-informacion>
    </div>
    <div id="pie">
        <p>HOLA</p>
    </div>
</div>


<router-outlet></router-outlet>
