#wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 20% 35% 35% 10%;
    grid-template-areas: 
        "logo radio radio radio"
        "videos videos imagenes imagenes"
        "videos videos informacion informacion"
        "pie pie pie pie";
}

#cabeceraLogo{
    display: grid;
    grid-area: logo;
}

#logo{
    align-self: center;
    padding-left: 25%;
}
#cabeceraRadio{
    grid-area: radio;
}

#cuerpoVideos{
    grid-area: videos;
}
#cuerpoImagenes{
    grid-area: imagenes;
    background-color: aquamarine;
}
#cuerpoInformacion{
    grid-area: informacion;
}

#pie{
    grid-area: pie;
}

@media (max-width: 400px)  {
    #wrapper{
        display: grid;
        height: 100vh;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "radio"
            "videos"
            "imagenes"
            "informacion"
            "pie";
    }

    #cabeceraLogo{
        display: none;
    }
}

@media (min-width: 400px) and (max-width: 800px) {
    #wrapper{
        display: grid;
        height: 100vh;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: 
            "radio"
            "videos"
            "imagenes"
            "informacion"
            "pie";
    }

    #cabeceraLogo{
        display: none;
    }
}


