<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
    <div id="cabeceraLogo">
      <div id="logo">
          <h3>Web-Móvil</h3>
          <img class="logo" src="../assets/imagenes/Logo.PNG" alt="Logo" width="40px" height="25px">
      </div>
        
    </div>
    <div id="cabeceraRadio">
        <app-radio></app-radio>
    </div>
    <div id="cuerpoVideos">
        <app-video></app-video>
    </div>
    <div id="cuerpoImagenes">
        <app-imagen></app-imagen>
    </div>
    <div id="cuerpoInformacion">
        <app-informacion></app-informacion>
    </div>
    <div id="pie">
        <p>Copyright 1999-2019. All Rights Reserved.</p>
    </div>
</div>


<router-outlet></router-outlet>
